<div class="wrapper">
  <div class="container">
    <h1>All cocktails</h1>
    <div class="row">
      <div class="col-xs-12">
          <% @cocktails.each do |cocktail| %>
            <div class="col-xs-4">
              <div class="card">
                  <div class="flat-card-image" style="background-image: url('<%= cocktail.photo %>')"></div>
                  <div class="text"><%= link_to "#{cocktail.id}. #{cocktail.name}", cocktail_path(cocktail) %></div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

