.wrapper-index {
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px);
}

#banner-typed-text {
  margin-top: 0px;
  padding-left: 30px;
  color: white;
  font-weight: 800;
}
