  a {
  padding-left: 20px;
  color: rgb(50, 50, 50);
    &:hover {
      color: rgb(50, 50, 50);
      font-weight: 800;
      text-decoration: none;
    }
  }

.banner {
  height: 300px;
  background-position: center;
  background-size: cover;
  h1 {
  padding-left: 20px;
  position: relative;
  color: white;
  }
  .btn-custo {
  position: relative;
  top: 200px;
  left: 20px;
  }
}
