.cards a {
  text-decoration: none;
  color: #68A100;
  font-weight: 800;
  :hover {
  text-decoration: none;
  color: #68A100;
  font-weight: 1000;
  }
}

#all-cocktails {
  color: white;
  font-weight: 800;
}

.card {
  box-shadow: 3px 3px 3px 0px rgba(150,150,150,1);
  margin: 20px;
}

.flat-card-image {
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 28px;
  }
}

.text {
  text-align: center;
  padding: 5px 5px;
  position: relative;
  color: black;
  font-weight: 800;
}

.tags {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  height: 80px;
  li {
    padding: 0px 10px;
    background-color: #237CDF;
    margin: 2px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
  }
}

.typed {
  height: 80px;
}
